* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  background-color: rgb(152, 227, 227)
}

.menu {
  background-color: #6ffded;
  display: flex; /* Diseño responsivo (contenedor flexible) */
  padding: 26px 30px; /* Espacio entre el contenido del elemento y su borde */
}

/* Lista de elementos del menú */
.menu ul {
  list-style: none; /*Para quitar los guiones de cada punto.*/
  margin: 0; /*Esto no hace nada*/
  padding: 0; /*Esto no hace nada*/
  display: flex; /*Para alinear cada <a>*/
  font-size: 1.1em;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

#miFormulario {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin-top: 8rem;
  
}

#miFormulario div {
  margin-bottom: 10px;
}

#miFormulario label {
  display: block;
  margin-bottom: 5px;
}

.register-sign {
  display: flex; /* Habilita Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: -20px; /* Ajusta este valor para subirlo o bajarlo */
}

.register-sign h2 {
  margin-top: -200px;
}