/* Característica por default */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  margin: 0;
  font-family: 'Trebuchet MS', serif;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  background-image: url("../Images/FondoPagina.png"); /* Ruta corregida */
  background-size: 100% auto; /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Contenedor del menú */
.menu {
  background-color: #505eb5e7;
  display: flex; /* Diseño responsivo (contenedor flexible) */
  padding: 26px 30px; /* Espacio entre el contenido del elemento y su borde */
}

/* Lista de elementos del menú */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 1.1em;
  justify-content: space-evenly; /* Distribuye los elementos con el mismo espacio */
  align-items: center;
  width: 100%; /* Asegura que ocupa todo el ancho disponible */
}

/* Estilos para los enlaces del menú */
.menu ul li a {
  display: flex;
  flex-direction: column; /* Coloca la imagen encima del texto */
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

/* Estilos para las imágenes de iconos */
.menu img {
  width: 50px;  /* Tamaño fijo */
  height: 50px;
  object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
  border-radius: 50%; /* Opcional: para hacerlos circulares */
  transition: transform 0.3s;
}

.menu img:hover {
  transform: scale(1.1);
}

/* Estilo para los nombres de los iconos */
.menu ul li a span {
  margin-top: 5px; /* Espacio entre la imagen y el texto */
  font-size: 12px;
  color: white;
}

/* Estilos para la imagen de la empresa */
.company-image {
  width: 50px;  
  height: 50px;  
  object-fit: cover;  
  border-radius: 50%;
}

/* Estilos de los enlaces */
a:hover {
  transition: background-color 0.3s ease;
  background-color: #8c94ed3d;
}

/* Contenedor del contenido */
.content {
  background-color: rgba(179, 220, 246, 0.845); /* Fondo semitransparente */
  height: 600px; /* Ajusta la altura */
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

/* Pie de página */
.footer {
  background-color:  #8c94ed3d;
}
