/* Característica por default */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  margin: 0;
  font-family: 'Trebuchet MS', serif;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  background-image: url("../Images/FondoPagina.png"); /* Ruta corregida */
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Contenedor del menú */
.menu {
  background-color: #6ffded;
  display: flex; /* Diseño responsivo (contenedor flexible) */
  padding: 26px 30px; /* Espacio entre el contenido del elemento y su borde */
}

/* Lista de elementos del menú */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 1.1em;
  justify-content: space-evenly; /* Distribuye los elementos con el mismo espacio */
  align-items: center;
  width: 100%; /* Asegura que ocupa todo el ancho disponible */
}

/* Estilos para las imágenes de iconos */
.menu img {
  width: 50px;  /* Tamaño fijo */
  height: 50px;
  object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
  border-radius: 50%; /* Opcional: para hacerlos circulares */
}

.company-image {
  width: 50px;  
  height: 50px;  
  object-fit: cover;  
  border-radius: 50%; /* Opcional si quieres que sea circular */
}

.menu ul a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  transition: background-color 0.3s ease;
  background-color: #0ff1d7fe;
}

/* Contenedor del contenido */
.content {
  background-color: rgba(177, 255, 249, 0.8); /* Fondo semitransparente */
  height: 600px; /* Ajusta la altura */
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.footer {
  background-color: #6ffded;
}
