* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  background-image: url("..\Images\FondoPagina.png");
}

.menu {
  display: flex;
  padding: 26px 30px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 1.1em;
  justify-content: center;
  align-items: center;
}

#miFormulario {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin-top: 5rem;
  margin-right: 40rem;
}

#miFormulario div {
  margin-bottom: 10px;
}

#miFormulario label {
  display: block;
  margin-bottom: 5px;
}

.register-sign {
  align-items: center;
  margin-top: 50px;
  margin-left: 500px;
  width: 1px;
}

.register-sign h2 {
  margin-top: -200px;
}

.return-account {
  display: inline-flex;
  align-items: center;
  /*  Ajusta el tamaño de la imagen */
  width: 20px; /* Ancho deseado */
  height: 20px; /* Alto deseado */
  /*  Opcional: Márgenes para separar la imagen del texto */
  margin-right: 5px; /* Espacio a la derecha de la imagen */
  /*  Opcional:  Para controlar la alineación vertical del texto con la imagen */
  vertical-align: middle; /* Alinea el texto al medio verticalmente */
}

.return-account img {
  width: 50px;
  border-radius: 50%;
  object-fit: contain; /* Ajusta la imagen al contenedor sin distorsionarla y manteniendo su aspecto */
}

/* Ejemplo de posicionamiento absoluto dentro del formulario */
.return-account {
  position: absolute; /* Posicionamiento absoluto */
  top: 10px; /* Ajusta la posición vertical */
  left: 10px; /* Ajusta la posición horizontal */
}

/* Ejemplo de posicionamiento relativo con márgenes */
.return-account{
  margin-top: 10px;
  margin-left: 10px;

}

.return-account:hover{
  transform: scale(1.1);
  transition: transform 0.3s;
}