/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estructura de la página */
body {
  font-family: 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../Images/FONDOPAGINAWEB.png"); /* Fondo */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.menu {
  background-color: #f5e6ca; /* Beige claro */
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #3d2b1f;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.note-input {
  width: 80%;
  height: 300px;
  padding: 10px;
  font-size: 1.2em;
  border: 2px solid #b08a66;
  border-radius: 10px;
  background-color: #fff8f0;
  color: #3d2b1f;
}

.save-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #d4af37; /* Dorado elegante */
  color: #3d2b1f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #b08a66;
}

.footer {
  background-color: #2a1a10;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
